body {
  background-color: #6decb9;
}
hr {
  border-color: black;
  border-width: 15px;
  border-style: dotted none none;
  width: 10%;
}
h1 {
  color: #537ec5;
}
h3 {
  color: #293a80;
  font-style: italic;
}
textarea {
  cursor: sw-resize;
}
.things {
  cursor: cell;

}
.name:hover {
    text-shadow: 50px 15px 8px blue;
}
.click:hover {
  color: red;
}
